---
import { SITE } from "~/config";
import BaseLayout from "~/layouts/BaseLayout/BaseLayout.astro";

import LinkButton from "~/components/LinkButton.astro";
---

<BaseLayout title={`404 Not Found | ${SITE.title}`}>
  <main id="mx-auto flex max-w-3xl flex-1 items-center justify-center">
    <div class="mb-14 flex flex-col items-center justify-center">
      <h1 class="text-9xl font-bold text-skin-accent">404</h1>

      <p class="" mt-4 text-2xl sm:text-3xl>Page Not Found</p>
      <LinkButton href="/" className="my-6 underline decoration-dashed underline-offset-8 text-lg">
        Go back home
      </LinkButton>
    </div>
  </main>
</BaseLayout>
