---
import { getCollection } from "astro:content";
import { SITE } from "~/config";
import BaseLayout from "~/layouts/BaseLayout/BaseLayout.astro";
import Main from "~/layouts/Main.astro";
import SearchComponent from "~/components/Search";

// Retrieve all articles
const posts = await getCollection("blog", ({ data }) => !data.draft);

// List of items to SearchComponent in
const searchList = posts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  data,
}));
---

<BaseLayout title={`SearchComponent | ${SITE.title}`}>
  <Main pageTitle="SearchComponent" pageDesc="search any article ...">
    <SearchComponent client:load searchList={searchList} />
  </Main>
</BaseLayout>
